@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Igor of the Gate is a simple Rock Paper Scissors Game with a twist.<br>You can influence Igor's choices by taking certain actions.<br>
    You can bluff, and if Igor is convinced, he might use a predictable move.
</p>
<!-- Updated Button to Link to Start -->
<button class="btn btn-lg btn-success" onclick="location.href='@Url.Action("Start", "Home")'">Back to Start</button>

<footer>
    <h5 style="padding: 10%;">Made by Nana Hagan in Collaboration with Althaus Digital</h5>
</footer>